<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tetris</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="landing.css">
</head>
<body>
  <div class="main-section">
    <div class="container row image-text">
      <div class="col tetris-image">
        <img src="images/tetris.svg" class="responsive-img" alt="tetris">
      </div>
      <div class="col tetris-text">
        <h1>  <i class="material-icons medium">videogame_asset</i> TETRIS</h1>
        <ul details-list>
          <li>Sign Up and save your score</li>
          <li>Compare high scores on our leader board</li>
        </ul>
        <div login-buttons>
          <a class="waves-effect waves-dark btn-large white red-text text-darken-4 z-depth-3" href="/registration">Sign Up</a>
          <a class="waves-effect waves-dark btn-large white red-text text-darken-4 z-depth-3" href="/login">Log In</a>
        </div>
      </div>
    </div>


  <footer class="page-footer red darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We're students at Digital Crafts learning front and backend development. </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">GitHub</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/DanOchs99">Dan</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/johnpham47">John</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/LmPladano">Luis</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/rdargali">Rawand</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/blond3d">Steven</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Text
      <div>Icons made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>