<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tetris</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
  <div class="container">
    <form method="POST" action="/login">
      <h1 class="white-text"> <i class="material-icons medium">assignment_ind</i> TETRIS LOGIN </h1>
      <label>Enter username</label>
      <input type="text" name="username" />
      <br />
      <label>Enter password</label>
      <input type="text" name="password" />
      <br />
      <button>Login</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>