body,
html {
  height: 100%;
  font-family: sans-serif;
}

a {
  margin: 0px;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #b13b31;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 40px;
  background: #263238;
}
table tbody tr {
  height: 70px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: center;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
}

.column1 {
  width: 30px;
  padding-left: 10px;
}

.column2 {
  width: 100px;
}

.column3 {
  width: 90px;
}

.column4 {
  width: 90px;
}

.column5 {
  width: 110px;
}

.current-score {
  padding-left: 25px;
}

.best-score {
 padding-left: 25px;
}
.nav-wrapper {
  background-color: #DB2F23;
}
.nav-extended {
  background-color: #DB2F23;
}

@media only screen and (max-width: 390px) {
  table {
    position: relative;
    top: 25px;
  }

  .current-score {
    position: relative;
    left: 27%;
  }
  .best-score {
    position: relative;
    left: 19%;
  }

}

@media only screen and (max-width: 420px) {
  .current-score {
    padding-left: 10px;
    padding-right: 15px;
  }

  .best-score {
    padding: 0;
  }
}