#tetris { 
    margin: 10px 10px 10px 10px;
    background-color: black;
    border: solid;
    border-color: rgb(14, 165, 211);
}

#nextPiece {
    border: solid;
    border-color: rgb(14, 165, 211);
}

.controls {
    width: auto;
    margin:0;

}

