body {
    text-align: center;
    background-color:rgb(20, 20, 20);
    color: rgb(255, 253, 220);
}

#tetris { 
    width: 36vh;
    height: 70vh;
    background-color:rgb(14, 14, 14);
    border: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    text-align: left;
}

#nextPiece {
    width: 6vh;
    height: 7vh;
    margin-bottom: 34vmax;
}

h4 {
    font-family: monospace;
    font-size: x-large;
    margin-top: 20px;
    margin: 0;
    color: white;
}

p {
    font-family: monospace;
    font-size: 20px;
}


#menu {
    border: solid;
    border-width: 2px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    padding-top: 4px;
    display: inline-block;
    width: min-content;
}

.controls {
    width: auto;
    margin:0;
}

@media only screen and (min-width: 600px) {
    #nextPiece {
        width: 6vh;
        height: 7vh;
        margin: 0;

    }
}
    