body {
    text-align: center;
    background-image: url(/images/background.jfif);
    color: rgb(0, 0, 0);
}

#tetris { 
    width: 33vh;
    height: 70vh;
    background-color: rgb(0, 0, 0);
    border: solid;
    border-width: 3px;
    border-color: rgb(39, 91, 105);
    text-align: left;
}

#nextPiece {
    width: 6vh;
    height: 7vh;
    margin-bottom: 40vmax;
}

#menu {
    border: solid;
    border-width: 3px;
    color: rgb(0, 0, 0);
    border-color: rgb(39, 91, 105);
    padding-top: 4px;
    display: inline-block;
    width: min-content;

}

.controls {
    width: auto;
    margin:0;

}

